.home-wrap {
  padding: 30px 0;

  .home-tools {
    &__title {
      font-size: 20px;
    }
    &__input-group {
      margin: 10px 0;
    }
    &__action-group {
      display: flex;
      justify-content: space-between;
    }
  }
  .home-result {
    margin-top: 50px;

    &__tabs {
      margin: 20px 0;
      display: flex;

      .dropdown-wrap {
        margin-right: 30px;
      }
      .dropdown-wrap:last-child {
        margin-right: 0;
      }
    }
  }
  .input-url {
    padding: 0 7px;
    height: 30px;
    min-width: 400px;
  }
}
